# Homework 5, Matt Briskey

### 1. Fill in the missing values in col1 by most frequent number (hint: strategy='most_frequent').

In [1]:
import pandas as pd
from io import StringIO
import numpy as np
import pandas as pd

csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3
1, 11
'''

df = pd.read_csv(StringIO(csv_data))
df

   col1  col2
0   NaN   2.0
1   NaN   NaN
2  10.0  11.0
3   1.0   3.0
4   1.0  11.0

In [2]:
# impute missing values via the most frequent number

from sklearn.impute import SimpleImputer

imr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
imputed_data

C:\Users\16145\anaconda3\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

array([[ 1.,  2.],
       [ 1., 11.],
       [10., 11.],
       [ 1.,  3.],
       [ 1., 11.]])

### 2. Explain the transformer and estimator in scikit-learn. What are the differences between them?

Transformer are responsible for data transformations and preprocessing. They take an input dataset and apply a specific transformation to it, generating an output dataset. The goal of a transformer is to modify the data in a way that enhances its suitability for machine learning algorithms. Transformers do not make predictions or learn from the data; they solely focus on modifying the data.

An estimator represents a machine learning algorithm or model. Its purpose is to learn patterns and relationships in the data to make predictions or classify new instances. Estimators take the input data and the corresponding labels and learn the underlying parameters of the model.  Once the model is trained, it can make predictions on new, unseen data.

Transformers are used for data preprocessing and feature engineering, while estimators are used for learning patterns and making predictions. Transformers modify the data, while estimators learn from the data

### 3. In the given data set below, standardize the numeric variables and generate the dummy variables for the categorical variables using one-hot encoding.

In [3]:
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
                 columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df

       col1      col2 col3
0  0.696469  0.286139    a
1  0.226851  0.551315    b
2  0.719469  0.423106    a
3  0.980764  0.684830    b
4  0.480932  0.392118    a
5  0.343178  0.729050    a
6  0.438572  0.059678    a
7  0.398044  0.737995    c
8  0.182492  0.175452    b
9  0.531551  0.531828    b

In [4]:
import pandas as pd

# Apply one-hot encoding using pd.get_dummies(), drop_first = true guards against multicollinearity
onehot_data = pd.get_dummies(df['col3'], drop_first=True)

# Drop the original 'col3' column
df = df.drop('col3', axis=1)

# Concatenate the encoded data with the original DataFrame
df_encoded = pd.concat([df, onehot_data], axis=1)

# Print the resulting DataFrame
print(df_encoded)

       col1      col2  b  c
0  0.696469  0.286139  0  0
1  0.226851  0.551315  1  0
2  0.719469  0.423106  0  0
3  0.980764  0.684830  1  0
4  0.480932  0.392118  0  0
5  0.343178  0.729050  0  0
6  0.438572  0.059678  0  0
7  0.398044  0.737995  0  1
8  0.182492  0.175452  1  0
9  0.531551  0.531828  1  0

In [5]:
# standardize the data

from sklearn.preprocessing import StandardScaler

stdsc = StandardScaler()
df_std = stdsc.fit_transform(df_encoded)
df_std

array([[ 0.85137511, -0.77172075, -0.81649658, -0.33333333],
       [-1.18192049,  0.42493074,  1.22474487, -0.33333333],
       [ 0.95095687, -0.15363214, -0.81649658, -0.33333333],
       [ 2.0822822 ,  1.02744088,  1.22474487, -0.33333333],
       [-0.08183286, -0.29347528, -0.81649658, -0.33333333],
       [-0.67826343,  1.22699138, -0.81649658, -0.33333333],
       [-0.26523672, -1.79366842, -0.81649658, -0.33333333],
       [-0.44071004,  1.26736044, -0.81649658,  3.        ],
       [-1.373984  , -1.27121821,  1.22474487, -0.33333333],
       [ 0.13733337,  0.33699135,  1.22474487, -0.33333333]])

### 4. Assume col3 is the target, separate the original data set in #3 into 80% training and 20% test.

In [6]:
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
                 columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df

       col1      col2 col3
0  0.696469  0.286139    a
1  0.226851  0.551315    b
2  0.719469  0.423106    a
3  0.980764  0.684830    b
4  0.480932  0.392118    a
5  0.343178  0.729050    a
6  0.438572  0.059678    a
7  0.398044  0.737995    c
8  0.182492  0.175452    b
9  0.531551  0.531828    b

In [7]:
from sklearn.model_selection import train_test_split

# Separate the features and target variable
X = df[['col1', 'col2']]  # Features
y = df['col3']            # Target variable

# Split the dataset into 80% training and 20% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [8]:
# Print the shapes of the resulting datasets
print("Training data - X_train shape:", X_train.shape)
print("Training data - y_train shape:", y_train.shape)
print("Test data - X_test shape:", X_test.shape)
print("Test data - y_test shape:", y_test.shape)

Training data - X_train shape: (8, 2)
Training data - y_train shape: (8,)
Test data - X_test shape: (2, 2)
Test data - y_test shape: (2,)

### 5. Load scikit-learn's diabetes data set by load_diabetes(), pick the top 3 most discriminative features using Random Forest.

In [18]:
from sklearn import datasets
diabetes = datasets.load_diabetes()
X = diabetes.data
y = diabetes.target

In [25]:
from sklearn.datasets import load_diabetes
from sklearn.ensemble import RandomForestRegressor
from sklearn import datasets

# Load the data
diabetes = datasets.load_diabetes()
X = diabetes.data
y = diabetes.target

# Create a Random Forest Regressor
rf = RandomForestRegressor(random_state=123)

# Fit the Random Forest model
rf.fit(X, y)

# Get the feature importances
feature_importances = rf.feature_importances_

# Sort the feature importances in descending order
sorted_indices = feature_importances.argsort()[::-1]

# Select the top 3 most discriminative features
top_feature_indices = sorted_indices[:3]
top_features = [diabetes.feature_names[i] for i in top_feature_indices]

# Print the top 3 features
print("Top 3 Most Discriminative Features:")
for feature in top_features:
    print(feature)

Top 3 Most Discriminative Features:
s5
bmi
bp